.feedback__container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 60px 0 60px;
}
.feedback__btn {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 12px;
  text-align: center;
  background-color: #f4f7fa;
  color: #445363;
  transition: all 800ms;
}
.feedback__btn:hover {
  background-color: #618ce2;
  color: white;
}